body{
    width: 1920px;
    height: 1080px;
    background-color: #F4F5F7;
    margin-left: 0px;
}
header {
    height : 104px;
    width : 1920px;
    line-height: 104px;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    font-weight: 400;
    position: absolute;
    top : 0px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-icon {
    height : 104px;
    position: absolute;
    left : 1196px;
    top : 0px;
    display: flex;
    align-items: center;
}
.profile-img{
    width : 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
}
#go-back{
    cursor : pointer;
    display: flex;
    position : absolute;
    top : 0px;
    width : 40px;
    height: 104px;
    left : 684px;
    align-items: center;
}
.go-back-img{
    width : 40px;
    height: 40px;
}
.help-text {
    color : red;
    font-weight: 400;
    font-size: 12px;
}