.signup-wrapper {
    display: flex;
    flex-direction: column;
    margin-top : 16px;
    width : 392px;
    align-items: center;
    justify-content: center;
    gap : 4px;
}
.signup-title{
    margin-top : 265px;
    font-weight: 700;
    font-size: 32px;
}
.signup-profile-container {
    width : 392px;
    height : 206px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 8px;
}
.signup-profile-title{
    width : 355px;
}
.signup-profile-img{
    width: 149px;
    height: 149px;
    border-radius: 50%;
    background-color: #c4c4c4;
    position: relative;
}
#signup-profile-img-input{
    display: none;
}
.custom-file-label {
    width : 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.signup-input-wrapper{
    display: flex;
    flex-direction: column;
    width : 100%;
    height: 383px;
    align-items: center;
    justify-content: center;
    gap : 4px;
}
.signup-profile-text{
    font-weight: 700;
    font-size: 15px;
}