.page-info-title{
    margin-top: 265px;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
}
.edit-user-info-input{
    display: flex;
    flex-direction: column;
    gap : 12px;
    margin-top : 32px;
}
.edit-submit-button{
    margin-top : 12px;
}
.withdraw {
    border : none;
    margin-top : 8px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
}
.edit-profile-img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}
.custom-profile-edit-button{
    width : 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #00000040;
    z-index: 2;
}
.custom-file-label-edit {
    width : 52px;
    height: 27px;
    border-radius: 25px;
    border : 1px solid white;
    cursor: pointer;
    text-align: center;
    line-height: 27px;
    vertical-align: middle;
    background-color: #00000040;
}
.user-email{
    font-size: 14px;
    margin : 12px 0px 12px 0px;
}
.edit-done{
    padding : 12px 20px 12px 20px;
    background-color: #ACA0EB;
    width : 102px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    margin-top: 77px;
    text-align: center;
}